
body{
  background : linear-gradient(92.75619924341913deg, rgba(240, 228, 230,1) 3.5625%,rgba(239, 227, 229,1) 3.5625%,rgba(59, 91, 173,1) 96.06249999999999%);
}
.col{
  text-align: center;
}
.content{
  margin: 50px 30px;
  padding: 30px;
  border: 2px solid black;
  border-radius: 100% 10% 100% 10% / 10% 94% 10% 100%  ;
  overflow: hidden;
}

.content i{
  margin: 10px;
  color: white;
  font-size: 30px;
}
