body{
  background: url(https://images.wallpaperscraft.com/image/cat_paw_british_115221_4112x2576.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat : no-repeat;

  color : white;

}
#content{
  margin-top: 15%;
  text-align: center;
  color: white;
  text-shadow: 0px 4px 4px rgba(0,0,0,0.4),
                0px 8px 8px rgba(0,0,0,0.1);
}
#line{
  width: 400px;
  border-top: 1px solid #f8f8f8;
  text-shadow: 0px 4px 4px rgba(0,0,0,0.4);
}
.nav{
  color: white;
}
#head{
  font-weight: 600;
  font-size: 5em;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}
